@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
}

:root {
  --modal-duration: 1s;
  --green-color: #54e346;
  --white-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  outline: 0;
  border: solid white 8px;
  color: white;
  border-radius: 5px;
}

li {
  list-style-type: none;
}

input:focus {
  outline: none;
}

.hide {
  display: none !important;
}



#container {
  background-color: var(--green-color);
  width: 70%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#new-day-btn {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--green-color);
  padding: 10px;
  font-size: 24px;
  font-weight: bolder;
}

#log-day-btn {
  display: none;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--green-color);
  padding: 10px;
  font-size: 24px;
}

#log-day-btn.show {
  display: block;
}

#icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#history-btn {
  cursor: pointer;
  color: var(--white-color);
}

/* Day Card Styling */
#day-card {
  display: grid;
  position: relative;
  background-color: var(--white-color);
  margin-top: 20px;
  width: 600px;
  max-width: 100%;
  min-height: 300px;
  border-radius: 8px;
}

#card-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

#card-header span {
  text-align: center;
  height: fit-content;
  padding: 6px;
  border-radius: 8px;
  color: var(--white-color);
  background-color: var(--green-color);
}

#set-grid {
  display: flex;
  justify-content: center;
}

.new-set-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  text-align: center;
  min-width: 80px;
  min-height: 50px;
  margin: 5px;
  color: var(--white-color);
  background-color: var(--green-color);
  border-radius: 8px;
}

#card-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#rep-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


#rep-input {
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  width: 60px;
  line-height: 15px;
}

#submit-rep-btn {
  width: 60px;
  padding: 5px;
  background-color: var(--green-color);
  border-radius: 5px;
}

#new-set-btn {
  background-color: var(--green-color);
  font-size: 16px;
  width: 50%;
  margin-top: -8px;
}

/* Day grid styling */
#day-grid-section {
  min-height: 100vh;
}

#day-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}

#day-grid div {
  background-color: var(--green-color);
  border: solid 5px var(--white-color);
  color: var(--white-color);
  font-size: 20px;
  width: 125px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}

/* Modal Styling */
.modal-container {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container.show {
  display: block;
}

.modal {
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 350px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header {
  background: var(--green-color);
  color: #fff;
  padding: 15px;
}

.modal-header h3 {
  margin: 0;
}

.modal-content {
  padding: 20px;
  text-align: center;
}

.modal-form input {
  padding: 8px;
  width: 25%;
  border-radius: 8px;
}

.close-btn {
  background: transparent;
  color: #fff;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

#push-it {
  background-color: var(--green-color);
  color: var(--white-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  -webkit-appearance: none;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Media Queries */
@media only screen and (min-width: 600px) and (max-width: 880px) {
  #day-card {
    width: 400px
  }
}

/* Mobile */
@media only screen and (max-width: 600px) {
  #container {
    width: 90%;
  }

  #day-card {
    width: 320px;
  }
}




/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

